body {
  background-image: url("https://i.pinimg.com/564x/e1/c4/3b/e1c43b5380abfee4023af74f3cb87bde.jpg");
  text-align: center;
}
#minhafoto {
  width: 400px;
  height: 400px;
  border-radius: 30% 15% 25% 15%;
  padding: 30px;
 
}
h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#104cf3
  
}
p,h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #39ff14;
}
.linkSocial {
  text-decoration: none;
  font-size: 30px;
  border: 2px;
  color:#104cf3;
}
.cris {
  cursor: pointer;
  text-decoration: none;
}
.lista {
  flex-direction: column;
  display: inline-block;
  color: #39ff14;
}

.letra {
 
  font-size: 60px;
}
.L {
  color: #104cf3;
}

.i {
  color: red;
}
.n1 {
  color: orange;
}
.K {
  color: #104cf3;
}
.e {
  color: green;
}
.d {
  color: red;
}

.I {
  color: #104cf3;
}
.n2 {
  color: red;
}
.G {
  color: #104cf3;
}
.i {
  color: red;
}
.t {
  color: orange;
}
.H {
  color: #104cf3;
}
.u {
  color: green;
}
.b {
  color: red;
}
