body {
  background-color: rgb(208, 245, 222);
  text-align: center;
}
#minhafoto {
  width: 300px;
  height: 300px;
  border-radius: 30% 15% 25% 15%;
  padding: 30px;
}
h1,p,h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #0a7e51;
}
.linkSocial {
  text-decoration: none;
}
.cris {
  cursor: pointer;
  text-decoration: none;
}
.lista {
  flex-direction: column;
  display: inline-block;
  color: #0a7e51;
}

.letra {
  font-size: 40px;
}
.L {
  color: blue;
}

.i {
  color: red;
}
.n {
  color: orange;
}
.K {
  color: blue;
}
.e {
  color: green;
}
.d {
  color: red;
}

.I {
  color: blue;
}
.n {
  color: red;
}
.G {
  color: blue;
}
.i {
  color: red;
}
.t {
  color: orange;
}
.H {
  color: blue;
}
.u {
  color: green;
}
.b {
  color: red;
}
